# Gradle
.gradle/
build/
out/
classes/

# Java
*.class
hs_err_*.log
replay_*.log
*.hprof
*.jfr

# Fabric Development
run/

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
*.launch
.classpath
.project

# VSCode
.vscode/
.settings/
bin/

# macOS
.DS_Store